<section class="fourth">
  <div class="container">
    <img src="../img/fourth/fourth-img2-desk.png" alt="" class="fourth__img2-desk">
    <div class="fourth__box">
      <h2 class="fourth__title">Наша лицензия</h2>
      <img src="../img/fourth/fourth-img1.png" alt="" class="fourth__img1">
      <img src="../img/fourth/fourth-img1-desk.png" alt="" class="fourth__img1-desk">
      <p class="fourth__img1-title">Швецов Сергей Анатольевич</p>
      <p class="fourth__img1-descr">Первый заместитель Председателя Банка России</p>
    </div>
    <img src="../img/fourth/fourth-img2.png" alt="" class="fourth__img2">
  </div>
</section>