<section class="second">
    <div class="container">
        <div class="second__box">
            <h2 class="second__title">В течении одного месяца, вы будете зарабатывать вместе с Bank of America</h2>
            <p class="second__text">В честь нашего открытия в РФ, мы создали эту платформу, где на 200 первых
                зарегистрировавшихся пользователей
                будут
                работать наши лучшие аналитики и ведущие инвесторы. С их помощью, вы своими руками заработаете десятки
                тысяч
                долларов на
                инвестировании! Всё что для этого нужно - <span class="second__text--part">слушать, выполнять и
                    повторять!</span></p>
        </div>
        <img src="../img/second/second-img.png" alt="" class="second__img">
        <img src="../img/second/second-img-desk.png" alt="" class="second__img-desk">
    </div>
</section>