<section class="third">

  <div class="third__box third__box-one">
    <div class="container">
      <h2 class="third__title">Для чего это нам?</h2>
      <p class="third__text">Многие граждане России с опаской относятся к американским компаниям. Мы надеемся, что такой
        жест с нашей
        стороны покажет
        россиянам, что нам нет дела до политических интриг, нам важно лишь мнение простых людей. Мы делаем это для вас!
        Кроме
        того, по завершению работы этой программы Bank of America будет предоставлять услуги по управлению деньгами и
        обучающие
        курсы. На примере вашего успеха, вся Россия увидит на что мы способны.</p>
      <button type="button" class="third__btn scroll-btn">Подать заявку</button>
    </div>
  </div>

  <div class="third__box third__box-two">
    <div class="container">
      <h2 class="third__title">Чего же вы ждёте?!</h2>
      <p class="third__text">Не беспокойтесь о том, что вы не имеете соответствующего образования или опыта в сфере
        инвестирования. Вам всё объяснят,
        а курировать вас будут наши лучшие специалисты. К концу работы программы вы получите не просто деньги, но и
        бесценные
        знания в сфере инвестирования и <span class="third__text--part">вы сможете сами зарабатывать</span> большие
        деньги на фондовом рынке.</p>
      <button type="button" class="third__btn scroll-btn">Подать заявку</button>
    </div>
  </div>

</section>